<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".SmartDlApp"
        android:allowBackup="true"
        android:label="SmartDL"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartDL">

        <activity
            android:name=".presentation.ui.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".presentation.service.ForegroundDownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>
